@theme {
  --font-NotoSans: "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Arial,
    ui-sans-serif, system-ui, sans-serif;
  --font-Ultra: "Ultra", serif;
}

@utility display-1 {
  font-family: var(--font-Ultra);
  font-size: 64px;
  font-weight: 400;
  line-height: 120;
  letter-spacing: 0.08em;
}

@utility display-2 {
  font-family: var(--font-Ultra);
  font-size: 48px;
  font-weight: 400;
  line-height: 120;
  letter-spacing: 0.08em;
}

@utility heading-h1 {
  font-family: var(--font-NotoSans);
  font-size: 64px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility heading-h2 {
  font-family: var(--font-NotoSans);
  font-size: 48px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility heading-h3 {
  font-family: var(--font-NotoSans);
  font-size: 28px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility heading-h4 {
  font-family: var(--font-NotoSans);
  font-size: 20px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility heading-h5 {
  font-family: var(--font-NotoSans);
  font-size: 16px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility heading-h6 {
  font-family: var(--font-NotoSans);
  font-size: 14px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility lable-lg {
  font-family: var(--font-NotoSans);
  font-size: 20px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.08em;
}

@utility label-sm {
  font-family: var(--font-NotoSans);
  font-size: 16px;
  font-weight: 700;
  line-height: 120;
  letter-spacing: 0.05em;
}

@utility text-md {
  font-family: var(--font-NotoSans);
  font-size: 20px;
  font-weight: 400;
  line-height: 150;
  letter-spacing: 0.05em;
}

@utility text-sm {
  font-family: var(--font-NotoSans);
  font-size: 14px;
  font-weight: 400;
  line-height: 150;
  letter-spacing: 0.05em;
}

@utility text-xs {
  font-family: var(--font-NotoSans);
  font-size: 12px;
  font-weight: 400;
  line-height: 150;
  letter-spacing: 0.05em;
}

@utility text-xxs {
  font-family: var(--font-NotoSans);
  font-size: 8px;
  font-weight: 400;
  line-height: 150;
  letter-spacing: 0.05em;
}